[Unit]
Description=SLT Lift Master Alarm
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=gpio
WorkingDirectory=/opt/slt-master-alarm
ExecStart=/opt/slt-master-alarm/venv/bin/python -u master_alarm.py
Environment=INFLUXDB_TOKEN=uuMjeruz55R_yGlhcMI1r2dZVGqUzcxSorC_aBu0jRrQXQ7cZX-OStRHoOTmG-1Gr4_Z7kKcwsPzSQINweI-UA==
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=slt-master-alarm

[Install]
WantedBy=multi-user.target
